@media screen and (min-width: 1200px) {
  .container {
    max-width: 1168px;
  }

  .header-logo {
    font-size: 18px;
    line-height: 1.11111;
  }

  .logo-image {
    width: 24px;
    height: 24px;
  }
  .header-list {
    gap: 24px;
  }

  .header-nav {
    margin-right: 90px;
  }

  .hero {
    padding-bottom: 80px;
  }

  .hero-container {
    padding: 381px 40px 40px 40px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/mobile/hero-bg@mobile-2x.webp');
    }
  }
}
