@media screen and (min-width: 1200px) {
    .container {
        max-width: 1168px;
    }

    .header-logo {
  font-size: 18px;
   line-height: 1.11111;
}

.logo-image {
  width: 24px;
  height: 24px;
}
.header-list {
    gap: 24px;
}

.header-nav {
  margin-right: 90px;
}
   
}