body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111;
  font-size: 14px;
}
.container {
  width: 100%;
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #fd9222;
}

.title span {
    color: #111;
}

.header {
  padding: 17px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 138px;
}

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo-image {
  width: 21px;
  height: 21px;
  stroke: #fd9222;
  fill: #fcf1e0;
}

.header-list {
  margin-left: auto;
  display: none;
  gap: 20px;
}

.header-list-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms;
  
}

.header-list-link:hover,
.header-list-link:focus {
  color: #fd9222;
}

.socials {
  display: none;
  gap: 14px;

}


.socials-icons {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  fill: #111111;
  transition: fill 250ms ease-in-out;
}

.socials-icons:hover {
  fill: #fd9222;
}

.header-menu {
  stroke: #111111
}

.header-btn {
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
