body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111;
  font-size: 14px;
}
.container {
  width: 100%;
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-weight: 600;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #fd9222;
}

.title span {
  color: #111;
}

.header {
  padding: 17px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 138px;
}

.header-logo {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo-image {
  width: 21px;
  height: 21px;
  stroke: #fd9222;
  fill: #fcf1e0;
}

.header-list {
  margin-left: auto;
  display: none;
  gap: 20px;
}

.header-list-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #fd9222;
}

.socials {
  display: none;
  gap: 14px;
}

.socials-icons {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  fill: #111111;
  transition: fill 250ms ease-in-out;
}

.socials-icons:hover {
  fill: #fd9222;
}

.header-menu {
  stroke: #111111;
}

.header-btn {
  background-color: transparent;
}

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/mobile/hero-bg@mobile-1x.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 381px 40px 40px 40px;
  
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)),
          url('../images/mobile/hero-bg@mobile-2x.webp');
    }
}

.hero-title {
  margin-bottom: 32px;
  max-width: 293px;
  font-weight: 500;
  font-size: 20px;

  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}

.hero-controls {
  display: flex;
  gap: 14px;
}

.hero-controls button {
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 100px;
  color: #ffffff;
  transition: color 250ms, background-color 250ms;
}

.hero-button-primary {
  background-color: #fd9222;
}
.hero-button-primary:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-button-secondary {
  border: 1px solid #ffffff;

  background-color: transparent;
}
.hero-button-secondary:hover {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-arrow {
  font-weight: 500;

  line-height: 1.16;
  letter-spacing: -0.03em;
  color: #ffffff;
  display: flex;
  transition: color 250ms;

  align-items: center;
  gap: 11px;
}

.hero-arrow:hover {
  color: #fd9222;
}

.hero-scroll {
  width: 28px;
  height: 28px;
  fill: #fd9222;
  transition: fill 250ms;
}

.hero-arrow:hover .hero-scroll {
  fill: #ffffff;
}

.hero-circle {
  border-radius: 100%;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms;
}

.hero-arrow:hover .hero-circle {
  background-color: #fd9222;
}

.hero-icon {
  width: 16px;
}

.benefits {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
