@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }

  .title {
    font-size: 24px;
    line-height: 1.16667;
  }

  .header {
    padding: 20px 0;
  }

  .header-nav {
    margin-right: 28px;
  }

  .header-list {
    display: flex;
  }

  .socials {
    display: flex;
  }

  .header-btn {
    display: none;
  }

  .hero {
    padding-bottom: 40px;
  }

  .hero-container {
    padding: 671px 40px 40px 40px;
  }

  .hero-tittle {
    max-width: 484px;
    font-size: 28px;
  }

  .hero-box {
    flex-direction: row;
  }

  .hero-controls button {
    padding: 14px 40px;
  }

  .hero-arrow {
    gap: 14px;
    line-height: 1.28;
  }

  .hero-scroll {
    width: 38px;
    height: 38px;
  }

  .hero-icon {
    width: 22px;
  }

  .benefits {
    padding-top: 50px;
    padding-bottom: 50x;
  }

  .benefits-list {
    column-gap: 88px;
    row-gap: 44px;
  }

  .benefits-item {
    max-width: 308px;
  }
}
